<!DOCTYPE html>
<html lang="en" ng-app="geoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Geo API</title>
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">                                                <!-- Bootstrap style -->
    <link rel="stylesheet" href="~/Content/css/flexslider.css">                                                   <!-- Flexslider style -->
    <link rel="stylesheet" href="~/Content/css/templatemo-style.css">                                             <!-- Templatemo style -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="page">


    <!-- background images -->
    <div class="page-bg-imgs-list">
        <img src="~/Content/img/story-bg-1.jpg" id="page-1-img" class="main-img" alt="About">
        <img src="~/Content/img/story-bg-2.jpg" id="page-2-img" alt="Gallery">
        <img src="~/Content/img/story-bg-3.jpg" id="page-3-img" alt="Services">
        <img src="~/Content/img/story-bg-4.jpg" id="page-4-img" alt="Contact">
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">

                <div class="header">

                    <!-- site title -->
                    <header class="box box-white">
                        <a href="javascript:void(0)" class="js-site-title">
                            <h1 class="box-text site-title-text">Geography API</h1>
                        </a>
                        <a href="@Url.Action("", "Swagger", new { area = ""})" class="js-site-title">
                            <h1 class="box-text site-title-text">Docs</h1>
                        </a>
                    </header>

                    <!-- site navigation -->
                    <nav class="js-nav">
                        <ul class="nav-items-container">

                            <li data-nav-item-id="page-1" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-left">
                                <a href="#page-1" class="block-keep-ratio-content box-nav-item-link">
                                    <span class="box-text box-text-nav-item flexbox-center">Continent</span>
                                </a>
                            </li>

                            <li data-nav-item-id="page-2" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-right">
                                <a href="#page-2" class="block-keep-ratio-content box-nav-item-link">
                                    <span class="box-text box-text-nav-item flexbox-center">Country</span>
                                </a>
                            </li>

                            <li data-nav-item-id="page-3" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-left">
                                <a href="#page-3" class="block-keep-ratio-content box-nav-item-link">
                                    <span class="box-text box-text-nav-item flexbox-center">State</span>
                                </a>
                            </li>

                            <li data-nav-item-id="page-4" class="block-keep-ratio block-keep-ratio-1-1 block-width-half box box-white box-nav-item js-nav-item pull-xs-right">
                                <a href="#page-4" class="block-keep-ratio-content box-nav-item-link">
                                    <span class="box-text box-text-nav-item flexbox-center">City</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                    
                </div> <!-- .header -->

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <div class="content-wrapper js-content-wrapper" id="section-container">
                    <!-- continent -->
                    <section data-page-id="page-1" class="content js-content">

                        <header class="box box-black margin-b-20">
                            <h2 class="box-text page-title-text">Continents</h2>
                        </header>
                        <select id="continent-drop" class="form-control" ng-controller="ContinentsCtrl">
                            <option id="0" value="Continent Name">Continent Name</option>
                            <option ng-repeat="continent in continents" value="{{continent.name}}">{{continent.name}}</option>
                        </select>
                        <div class="content-text-drop">
                            
                            <p>
                                Vivamus imperdiet tellus lobortis tellus fermentum, at varius purus tincidunt. Aenean quis tellus molestie, laoreet massa a, maximus est. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </p>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group-2-col-left">
                                <select id="continent-country-drop" class="form-control" ng-controller="CountriesCtrl">
                                    <option id="0" value="Country Name">Country Name</option>
                                    <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group-2-col-right">
                                <select id="continent-state-drop" class="form-control" ng-controller="StatesCtrl">
                                    <option id="0" value="State Name">State Name</option>
                                    <option ng-repeat="state in states" value="{{state.name}}">{{state.name}}</option>
                                </select>
                            </div>

                        </div>

                    </section> <!-- #continent -->
                    <!-- Country -->
                    <section data-page-id="page-2" class="content js-content">

                        <header class="box box-black margin-b-20">
                            <h2 class="box-text page-title-text">Country</h2>
                        </header>

                        <select id="country-drop" class="form-control" ng-controller="CountriesCtrl">
                            <option id="0" value="Country Name">Country Name</option>
                            <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
                        </select>
                        <div class="content-text-drop">

                            <p>
                                Vivamus imperdiet tellus lobortis tellus fermentum, at varius purus tincidunt. Aenean quis tellus molestie, laoreet massa a, maximus est. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </p>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group-2-col-left">
                                <select id="country-state-drop" class="form-control" ng-controller="StatesCtrl">
                                    <option id="0" value="State Name">State Name</option>
                                    <option ng-repeat="state in states" value="{{state.name}}">{{state.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group-2-col-right">
                                <select id="country-city-drop" class="form-control" ng-controller="CitiesCtrl">
                                    <option id="0" value="City Name">City Name</option>
                                    <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
                                </select>
                            </div>

                        </div>


                    </section> <!-- #Country -->
                    <!-- State -->
                    <section data-page-id="page-3" class="content js-content">

                        <header class="box box-black margin-b-20">
                            <h2 class="box-text page-title-text">State</h2>
                        </header>

                        <select id="state-drop" class="form-control" ng-controller="StatesCtrl">
                            <option id="0" value="State Name">State Name</option>
                            <option ng-repeat="state in states" value="{{state.name}}">{{state.name}}</option>
                        </select>
                        <div class="content-text-drop-img" ng-controller="CitiesCtrl">

                            <p>
                                Vivamus imperdiet tellus lobortis tellus fermentum, at varius purus tincidunt. Aenean quis tellus molestie, laoreet massa a, maximus est. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </p>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group-2-col-right">
                                <select id="state-city-drop" class="form-control" ng-model="cityList" ng-options="city as city.name for city in cities">
                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group-2-col-right">
                                <img src="{{cityList.image}}" alt="Thumbnail 1" />
                            </div>

                        </div>

                    </section> <!-- #State -->
                    <!-- City -->
                    <section data-page-id="page-4" class="content content-gallery js-content">

                        <header class="box box-black margin-b-20">
                            <h2 class="box-text page-title-text">City</h2>
                        </header>
                        
                        <div class="content-text-drop">

                            <p>
                                Vivamus imperdiet tellus lobortis tellus fermentum, at varius purus tincidunt. Aenean quis tellus molestie, laoreet massa a, maximus est. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                            </p>
                            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 form-group-2-col-left">
                                <select id="city-drop" class="form-control" ng-controller="CitiesCtrl">
                                    <option id="0" value="City Name">City Name</option>
                                    <option ng-repeat="city in cities" value="{{city.name}}">{{city.name}}</option>
                                </select>
                            </div>

                        </div>

                        <div class="content-text content-text-gallery">

                            <!-- <p>Credits go to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images.</p> -->

                            <div class="flexslider-wrapper">

                                <div id="slider" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="~/Content/img/slider/slide1.jpg" alt="Slide 1" /></li>
                                        <li><img src="~/Content/img/slider/slide2.jpg" alt="Slide 2" /></li>
                                        <li><img src="~/Content/img/slider/slide3.jpg" alt="Slide 3" /></li>
                                        <li><img src="~/Content/img/slider/slide4.jpg" alt="Slide 4" /></li>
                                        <li><img src="~/Content/img/slider/slide5.jpg" alt="Slide 5" /></li>
                                        <li><img src="~/Content/img/slider/slide6.jpg" alt="Slide 6" /></li>
                                    </ul>
                                </div> <!-- #slider -->

                                <div id="carousel" class="flexslider">
                                    <ul class="slides">
                                        <li><img src="~/Content/img/slider/thumb1.jpg" alt="Thumbnail 1" /></li>
                                        <li><img src="~/Content/img/slider/thumb2.jpg" alt="Thumbnail 2" /></li>
                                        <li><img src="~/Content/img/slider/thumb3.jpg" alt="Thumbnail 3" /></li>
                                        <li><img src="~/Content/img/slider/thumb4.jpg" alt="Thumbnail 4" /></li>
                                        <li><img src="~/Content/img/slider/thumb5.jpg" alt="Thumbnail 5" /></li>
                                        <li><img src="~/Content/img/slider/thumb6.jpg" alt="Thumbnail 6" /></li>
                                    </ul>
                                </div>  <!-- #carousel -->

                            </div>

                        </div>

                    </section> <!-- #State -->
                </div>
            </div>

        </div>
        @RenderBody()
        <!-- footer row -->
        <footer class="row footer js-footer">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <p class="copyright-text">
                    Copyright &copy; 2016 | Patrick Jones
                </p>

            </div>
        </footer>

    </div>  <!-- .container-fluid -->

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div><!-- /#preloader -->
    <!-- load JS files -->
    <script src="~/Content/js/jquery-1.11.3.min.js"></script> <!-- jQuery -->
    <script src="~/Content/js/jquery.flexslider-min.js"></script> <!-- Flex Slider -->
    <script src="~/Content/js/jquery.backstretch.min.js"></script> <!-- Backstretch http://srobbin.com/jquery-plugins/backstretch/ -->
    <script src="~/Content/js/templatemo-script.js"></script> <!-- Templatemo scripts -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app-ang.js"></script>
    <script src="~/Scripts/geoServices.js"></script>
    <script src="~/Scripts/geoControllers.js"></script>
</body>
</html>